<section class="profile-agrup scrollable-section" data-stellar-background-ratio="0.5" data-section-title="{{ site.data.lang.[page.lang].terms[0]['profile_agrup'].section }}">
	<div class="text-agrup">
		<h4>{{ site.data.lang.[page.lang].terms[0]['profile_agrup'].title }}</h4>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_agrup'].paragraph_1 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_agrup'].paragraph_2 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_agrup'].paragraph_3 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_agrup'].paragraph_4 }}</p>
	</div>
</section>
