<section class="profile-preprouno scrollable-section" data-stellar-background-ratio="0.5" data-section-title="{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].section }}">
	<div class="text-preprouno">
		<h4>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].title }}</h4>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_1 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_2 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_3 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_4 }}</p>
	</div>
</section>
