<section class="profile-preprouno scrollable-section" data-stellar-background-ratio="0.5" data-section-title="{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].section }}">
	<div class="text-preprouno">
		<h4>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].title }}</h4>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_1 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_2 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_3 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_4 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_5 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_6 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_7 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_8 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_9 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_10 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_11 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_12 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_13 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_14 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_15 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_16 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_17 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_18 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_19 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_20 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_21 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_22 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_23 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_preprouno'].paragraph_24 }}</p>
	</div>
</section>
