<section class="profile-base scrollable-section" data-stellar-background-ratio="0.5" data-section-title="{{ site.data.lang.[page.lang].terms[0]['profile_base'].section }}">
	<div class="text-base">
		<h4>{{ site.data.lang.[page.lang].terms[0]['profile_base'].title }}</h4>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_1 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_2 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_3 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_4 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_5 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_6 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_7 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_8 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_9 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_10 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_11 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_12 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_13 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_14 }}</p>
		
		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_15 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_16 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_17 }}</p>
	</div>
</section>
