<section class="profile-base scrollable-section" data-stellar-background-ratio="0.5" data-section-title="{{ site.data.lang.[page.lang].terms[0]['profile_base'].section }}">
	<div class="text-base">
		<h4>{{ site.data.lang.[page.lang].terms[0]['profile_base'].title }}</h4>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_1 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_2 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_base'].paragraph_3 }}</p>
	</div>
</section>
