<section class="profile-predict scrollable-section" data-stellar-background-ratio="0.5" data-section-title="{{ site.data.lang.[page.lang].terms[0]['profile_predict'].section }}">
	<div class="text-predict">
		<h4>{{ site.data.lang.[page.lang].terms[0]['profile_predict'].title }}</h4>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_predict'].paragraph_1 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_predict'].paragraph_2 }}</p>

		<p>{{ site.data.lang.[page.lang].terms[0]['profile_predict'].paragraph_3 }}</p>
	</div>
</section>
